*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Farger

$main-bg-color: #ffffff;
$input-bg-color: #FDFDFD;
$text-color: #333333;
$label-font-color: #000000;
$border-color: #707070;
$button-color: #56d4c2;
$button-font-color: #ffffff;
$nav-boxShadow: #00000019;
$card-boxShadow:  #5dd3d829;

// Skriftstørrelse

@mixin responsive-font-size($normal) {
    font-size: $normal;

    @media screen and (max-width: 800px) {
        font-size: calc($normal * 0.70);
    }
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 3000px;
}

#navigation-header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    height: 63px;
    padding: 0 30px 0 30px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 10px $nav-boxShadow;

    h1 {
        color: $text-color;
        font-weight: 900;
        text-transform: uppercase;
    }
    
    nav {
        color: $text-color;
        font-weight: 500;

        li {
            list-style: none;
    
            a {
                text-decoration: none;
                color: $text-color;
                font-weight: 500;
                @include responsive-font-size(23px);
            }
        }
    }
}

main {
    margin: 50px auto 0 auto;
    max-width: 1000px;

    @media screen and (max-width: 1000px) {
        margin: 20px 20px 0px 20px;
    }
}

form {
    display: block;

    label {
        display: block;
        text-align: left;
        font-weight: 800;
        @include responsive-font-size(14px);
    }

    input {
        display: block;
        background-color: $input-bg-color;
        min-width: 50%;
        height: 49px;
        margin: 8px 0 20px 0;
        border: 1px solid $border-color;
        border-radius: 6px;
        outline: none;
        font-size: 24px;
    }

    textarea {
        display: block;
        min-width: 100%;
        height: 150px;
        margin: 8px 0 20px 0;
        background-color: $input-bg-color;
        border: 1px solid $border-color;
        border-radius: 6px;
        font-size: 24px;
        outline: none;
        resize: none;
    }

    button{
        @include responsive-font-size(27px);
        display: block;
        margin-left: auto;
        padding: 10px 60px;
        background-color: $button-color;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        color: $button-font-color;
        cursor: pointer;
    }
}

section {
    display: block;
    width: 100%;

    #section-header {
        color: $text-color;
        @include responsive-font-size(16px);
    }

    #card-flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card-styling {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: center;
            justify-self: center;
            background-color: $main-bg-color;
            width: 282px;
            height: 163px;
            box-shadow: 0px 8px 16px $card-boxShadow;
            margin: 20px 20px;
            padding: 20px;
            border-radius: 8px;

            .card-title {
                align-self: flex-start;
                color: $text-color;
                @include responsive-font-size(18px);
            }
            
            .card-text {
                color: $text-color;
                text-align: left;
                @include responsive-font-size(17px);
            }
            
            .card-btn {
                align-self: flex-end;
                padding: 6px 15px;
                background-color: $button-color;
                border: none;
                border-radius: 6px;
                @include responsive-font-size(13px);
                font-weight: bold;
                color: $button-font-color;
                cursor: pointer;
            }
            
        }

    }
}

/*

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #ffffff;
    --input-bg-color: #FDFDFD;
    --text-font-color: #333333;
    --label-font-color: #000000;
    --border-color: #707070;
    --button-color: #56d4c2;
    --button-font-color: #ffffff;
    --nav-boxShadow: #00000019;
    --card-boxShadow:  #5dd3d829;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    display: grid;
    min-height: 100vh;
    max-width: 1600px;
    grid-template-rows: 63px 50px 1fr;
    grid-template-columns: auto 0.7fr auto;
    grid-template-areas:
        "header header header"
        ". . ."
        ". main .";
}

#main-header {
    grid-area: header;
    display: flex;
    padding: 0 30px 0 30px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 10px var(--nav-boxShadow);
}

#logo {
    color: var(--text-font-color);
    font-weight: 900;
    text-transform: uppercase;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#user {
    color: var(--text-font-color);
    font-weight: 500;
    font-size: 23px;
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: 800;
    font-size: 14px;
}

#title {
    background-color: var(--input-bg-color);
    width: 436px;
    height: 49px;
    margin: 8px 0 20px 0;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    outline: none;
    font-size: 24px;
}

#content {
    min-width: 100%;
    height: 150px;
    margin: 8px 0 20px 0;
    background-color: var(--input-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 24px;
    outline: none;
    resize: none;
}

button[type="submit"] {
    align-self: flex-end;
    padding: 10px 60px;
    background-color: var(--button-color);
    border: none;
    border-radius: 6px;
    font-size: 27px;
    font-weight: bold;
    color: var(--button-font-color);
    cursor: pointer;

}

#todo-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
}

#todo-container > header {
    color: var(--text-font-color);
    grid-column-start: 1;
    grid-column-end: 4;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    background-color: var(--main-bg-color);
    width: 282px;
    height: 163px;
    box-shadow: 0px 8px 16px var(--card-boxShadow);
    padding: 20px;
    border-radius: 8px;
    
}

.card-title {
    align-self: flex-start;
    color: var(--text-font-color);
}

.card-text {
    color: var(--text-font-color);
    text-align: left;
}

.card-btn {
    align-self: flex-end;
    padding: 6px 15px;
    background-color: var(--button-color);
    border: none;
    border-radius: 6px;
    font-size: 11px;
    font-weight: bold;
    color: var(--button-font-color);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    
    #main {
        margin: 0 20px;
    }

    #todo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}*/